
.card 
{
width: 6vw;
height: 8vw;
background-color: black;
margin: 1vw;
}

.card-container
{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    grid-template-rows: 12vw 12vw 12vw;
    justify-content: center;
}

.card.flip
{
    background-color: blue;
}