
.card 
{
width: 6vw;
height: 8vw;
background-color: black;
margin: 1vw;
}

.card-container
{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    grid-template-rows: 12vw 12vw 12vw;
    justify-content: center;
}

.card.flip[value = "0"]
{
    background-color: blue;
}

.card.flip[value = "1"]
{
    background-color: pink;
}

.card.flip[value = "2"]
{
    background-color: green;
}

.card.flip[value = "3"]
{
    background-color: yellow;
}

.card.flip[value = "4"]
{
    background-color: red;
}

.card.flip[value = "5"]
{
    background-color: purple;
}